/*------------ [Google_Font] -----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ramaraja&display=swap');

/*------------ [_Root] bde0feff-------FFC368----*/
:root {
    /* Colors */
    --white-color: #fffffd;
    --black-color: #141414;
    --grey-color: #D9D9D9;
    --red-color: #AB2121;   

    /* FontStyle*/
    --fontOne: 'Poppins', sans-serif;

    /* Font Sizes */
    --font-thirtySix: 2rem;
    --font-twentyFour: 1.5rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: .8725rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
}

:root{

}

@media screen and (min-width: 900px) {
    :root {
        --font-thirtySix: 2.25rem;
        --font-twentyFour: 1.5rem;
        --font-eighteen: 1.25rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*------------ [_Reset_Styles] -----------*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*--------------- [_Utility] -------------*/
body {
    max-width: 2560px;
    height: 100vh;
    background-color: var(--white-color);
    font-family: var(--fontOne);
    color: var(--black-color);
    letter-spacing: 1px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--black-color);
    font-family: var(--fontOne);
}

p {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    color: var(--black-color);
}

h1 {
    font-size: var(--font-thritySix);
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: var(--fontTwo);
}

h2 {
    font-size: var(--font-twentyFour);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-eighteen);
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: var(--font-twelve);
    font-weight: 500;
}

h6 {
    font-size: var(--font-eleven);
    line-height: 1.5rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontOne);
}

ul li {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}

/*-- HEADER --*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 100%;
    background: var(--red-color);
    color: var(--white-color);
    overflow: hidden;
}

.logo__img{
    width: 50%;
}

.logo__img h2{
    color: var(--white-color);
}

.nav__bar{
    width: 35%;
}

.nav__items{
    display: flex;
    justify-content: space-evenly;
}

.nav__link{
    font-size: var(--font-sixteen);
    font-weight: 600;
}

.nav__link:hover{
    text-decoration: underline;
}

/* --MAIN */
.body__container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
    padding: 1rem;
    background: var(--grey-color);
    width: 100vw;
}

/* --Hero Section-- */

.hero__section{
   display: grid;
   place-items: center; 
   margin-top: 3rem;
}

.hero__img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background: url(/assets/lilian.jpg);
    background-size: cover;
    background-position: center;
}

.hero__texts{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

.icons{
    display: flex;
    align-items: center;
}

.bar{
    width: 7rem;
    height: 5px;
    background: var(--white-color);
    border-radius: 5px;
}

.fa{
    font-size: 2rem !important;
    color: var(--white-color);
    margin: 0 1.5rem;
}