/*------------ [Google_Font] -----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ramaraja&display=swap');

/*------------ [_Root] bde0feff-------FFC368----*/
:root {
    /* Colors */
    --white-color: #fffffd;
    --black-color: #141414;
    --grey-color: #D9D9D9;
    --red-color: #AB2121;   

    /* FontStyle*/
    --fontOne: 'Poppins', sans-serif;

    /* Font Sizes */
    --font-thirtySix: 2rem;
    --font-twentyFour: 1.5rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: .8725rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
}

:root{

}

@media screen and (min-width: 900px) {
    :root {
        --font-thirtySix: 2.25rem;
        --font-twentyFour: 1.5rem;
        --font-eighteen: 1.25rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*------------ [_Reset_Styles] -----------*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*--------------- [_Utility] -------------*/
body {
    max-width: 2560px;
    height: 100vh;
    background-color: var(--white-color);
    font-family: var(--fontOne);
    color: var(--black-color);
    letter-spacing: 1px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--black-color);
    font-family: var(--fontOne);
}

p {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    color: var(--black-color);
}

h1 {
    font-size: var(--font-thirtySix);
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--fontOne);
}

h2 {
    font-size: var(--font-twentyFour);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-eighteen);
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: var(--font-sixteen);
    line-height: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: var(--font-twelve);
    font-weight: 500;
}

h6 {
    font-size: var(--font-eleven);
    line-height: 1.5rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--fontOne);
}

ul li {
    list-style: none;
}

img {
    border: none;
    max-width: 100%;
    background-position: center;
    background-size: cover;
}


/*--------HEADER-----------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    background: var(--red-color);
    color: var(--white-color);
    overflow: hidden;
}

.logo__img{
    width: 50%;
}

.logo__img h2{
    color: var(--white-color);
}

.nav__bar{
    width: 35%;
}

.nav__items{
    display: flex;
    justify-content: space-evenly;
}

.nav__link{
    font-size: var(--font-sixteen);
    font-weight: 600;
}

.nav__link:hover{
    text-decoration: underline;
}

/* --MAIN */
.body__container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    gap: 2rem;
    background: var(--grey-color);
    width: 100%;
}

/* --Hero Section-- */

.hero__section{
   display: grid;
   place-items: center; 
   padding: 3rem;
   background: var(--white-color);
}

.hero__img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background: url(/assets/lilian.jpg);
    background-size: cover;
    background-position: center;
}

.hero__texts{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

.hero__texts h2{
    text-transform: uppercase;
}

.hero__texts h3{
    margin-top: 2rem;
}

.icons{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.bar{
    width: 7rem;
    height: 5px;
    background: var(--red-color);
    border-radius: 5px;
}

.fa-star{
    font-size: 2rem !important;
    color: var(--red-color);
    margin: 0 1.5rem;
}

.hero__texts p{
    text-align: center;
}

/* Goals */

.goals__text{
    margin: 2rem 0;
    padding: 0 2rem
}

.goals__text p{
    line-height: 1.5rem;
    text-align: justify;
}

/* Portfolio */
.portfolio__section{
    background: var(--white-color);
    padding: 2rem;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}

.education, .experience{
    width: 100%;
    display: inline-block;
}

.edu{
    margin-bottom: 1rem;
}

.section__title{
    color: var(--red-color);
}

.education span p{
    color: var(--red-color);
    line-height: 2rem;
}

.bold__text{
    font-weight: 600;
    line-height: 2rem;
}

@media screen and (min-width: 768px) {
    .flex{
        flex-direction: row;
    }

    .education, .experience{
        width: 48%;
    }
    
}

/* ----Contact Us----- */
.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
}

input{
    width: 20rem;
    padding: .75rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid var(--black-color);
}

textarea{
    width: 20rem;
    padding: .75rem;
    margin-bottom: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black-color);
    background: none;
    font-family: var(--fontOne);
    font-size: var(--font-fourteen);
}

::placeholder{
    font-family: var(--fontOne);
    font-size: var(--font-fourteen);
}

button{
    width: 7.5rem;
    padding: .75rem;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: var(--red-color);
    color: var(--white-color);
}

/* -----Footer----- */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: var(--white-color);
}

.social__links{
    display: inline-flex;
}

.circle{
    text-align: center;
    padding: .7rem;
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--red-color);
    border-radius: 50%;
    margin-right: .75rem;
}

.fa-facebook-f, 
.fa-instagram,
.fa-twitter{
    font-size: 1.25rem !important;
}

.circle:hover, .circle:focus{
    background: var(--red-color);
    color: #fffffd;
}


/* ---------LOGIN PAGE----------- */
/* ----------------------------- */
.body__wrapper{
    background: var(--grey-color);
    display: grid;
    grid-template-rows: 100%;
    height: fit-content;
}

.login{
    border: 2px solid var(--red-color);
    padding: 2rem;
    background: var(--white-color);
    margin: 3rem auto;
    border-radius: 5px;
    width: 400px;
    height: fit-content;
}
.login h2{
    text-align: center;
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.body__wrapper footer{
    height: 5rem;
}


/* ------REGISTER----- */


.register{
    border: 2px solid var(--red-color);
    padding: 2rem;
    background: var(--white-color);
    margin: 3rem auto -10px;
    border-radius: 5px;
    width: 400px;
    height: fit-content;
}
